:root {
  --productWidth: 300px;
  --productGap: 20px;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App {
  text-align: center;
}

a {
  text-decoration: none;
  color: unset;
}

div.topDots {
  background-image: url(../public/dots_purple.svg);
  height: 300px;
  width: 100%;
  position: absolute;
  background-repeat: repeat-x;
  z-index: -1;
  margin-top: -25px;
}

.topHeader {
  font-size: 4rem;
  font-weight: bold;
  display: flex;
  justify-content: center;
  width: 70%;
  max-width: 50rem;
  color: #af3e92;
  border-bottom: 1rem solid #fff6e5;
  margin-top: 5rem;
  margin-bottom: 3rem;
}

button {
  margin: 3rem 5rem;
  padding: 1rem;
  border-radius: 2rem;
  font-size: 1.5rem;
  font-weight: bold;
  border: 0;
}

div.customCheckbox {
  display: flex;
  justify-content: center;
  font-size: 1.25rem;
  color: #444;
}

label.customCheckbox {
  display: flex;
  align-items: center;
  gap: 1rem;
}

div.customCheckbox input[type="checkbox"] {
  display: none; /* Hide the default checkbox */
}

span.customCheckbox {
  font-size: var(--checkboxSize);
  color: transparent;
  display: inline-block;
  width: var(--checkboxSize);
  height: var(--checkboxSize);
  border: 1px solid #000;
  border-radius: 0.25rem;
  text-align: center;
  line-height: var(--checkboxSize);
  cursor: pointer;
  transition: background-color 0.25s;
}


div.customCheckbox input[type="checkbox"]:checked + span.customCheckbox {
  background-color: #2f80ed;
  color: #fff;
}

input[type="text"].formField,
input[type="password"].formField,
select.formField {
  display: flex;
  width: 100%;
  margin: 1rem 0;
  font-size: 1.25rem;
  padding: 1rem;
  background-color: #fff;
  border-radius: 0.5rem;
  border: 1px solid #888;
  box-sizing: border-box;
}
