.header {
  display: flex;
  position: fixed;
  justify-content: space-between;
  align-items: center;
  border-radius: 0.75rem;
  overflow: hidden;
  padding: 0;
  height: 4rem;
  background-color: #fba800;
  margin-top: 3rem;
  margin-bottom: 1rem;
  width: 85%;
  max-width: 70rem;
  z-index: 10;
}

/* How to remove the sticky header: */
/* .header position line, delete*/
/* div.breadcrumbs margin-top from 10rem to 2rem */

.headerLogo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 264px;
  background-color: #fff;
  height: 100%;
}

.headerLogo img {
  width: 200px;
}

.navItems {
  flex-grow: 1;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.navItem {
  color: #fff;
  font-size: 1rem;
  font-weight: bold;
}

div.loginButton {
  border: 1px solid #fff;
  padding: 0.1rem 2rem;
  border-radius: 0.25rem;
}

.cart {
  position: relative;
  margin-top: 10px;
}

.cart img {
  height: 2rem;
}

span.cartDot {
  position: absolute;
  top: -0.5rem;
  right: -0.5rem;
  width: 1.2rem;
  height: 1.2rem;
  font-size: 0.9rem;

  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  border-radius: 1rem;
  background: #f66;
}

div.breadcrumbs {
  width: 90%;
  max-width: 70rem;
  font-size: 1.2rem;
  font-weight: bold;
  padding-top: 10rem;
}

div.breadcrumbs a:link,
div.breadcrumbs a:visited,
div.breadcrumbs a:hover,
div.breadcrumbs a:active {
  color: #af3e92;
  text-decoration: none;
}